<!-- TODO: Dummy display, replace with corret -->

<div class="results">
  <div class="user-items-container">
    <h2>You are selling:</h2>
        <div class="row">
          <% @user.books.each do |book| %>
            <div class="col-xs-12 col-sm-3">
              <div class="book-card">
                <div class="card-book-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= cl_image_path book.cover_photo, :default_image => "default_image.png" %>);"></div>
                <div class="card-description">
                  <h2><%= book.title %></h2>
                  <p><%= link_to "Edit this book", "dashboard/update/#{book.id}" %></p>
                  <p><%= link_to "Remove from store", "dashboard/#{book.id}",
                                  method: :delete, data: { confirm: @delete_message } %></p>
               </div>
              </div>
            </div>
          <% end %>
        </div>
     </div>
  <div class="user-items-container">
    <h2>You bought:</h2>
        <div class="row">
          <% @books_purchased.each do |book| %>
            <div class="col-xs-12 col-sm-3">
              <div class="book-card">
                <div class="card-book-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= cl_image_path book.cover_photo, :default_image => "default_image.png"%>);"></div>
                <div class="card-description">
                  <h2><%= book.title %></h2>
                  <p>From: <%= book.user.full_name %></p>
                  <p>$<%= book.price %></p>
               </div>
              </div>
            </div>
          <% end %>
        </div>
  </div>
</div>