<div class="jumbotron">
	<div class="text-center welcome">
		<h1>Welcome to Booktrader</h1>
		<h4>Skip the bookstore.  Get textbooks from students</h4>
	</div>

	<%= form_tag('/books', method: :get) do -%>
  		<div class="search text-center">
  			<%= text_field_tag :title, nil, placeholder: "Search for your book title" %>
  			<%= button_tag(type: "submit", class: "btn btn-default home-search") do %>
					<span class="glyphicon glyphicon-search icon-large" aria-hidden="true"></span>
			<% end %>
  		</div>
	<% end -%>
</div>
<div class="container landing-info">
	<div class="row">
		<div class="col-md-4 col-sm-12 text-center ">
			<div class="landing-info-card">
				<%= image_tag "search", class: "info-img"%>
			 	<div class="how-to">
			 		<p>Search for your textbooks from a collection of students selling the same book</p>
			 	</div> 
			</div>
		 </div>
		<div class="col-md-4 col-sm-12 text-center">
			<div class="landing-info-card">
				<%= image_tag "shopping-cart", class: "info-img" %>
				<div class="how-to">
					<p>Select all the books you need for your classes</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 text-center">
			<div class="landing-info-card">
				<%= image_tag "old-school", class: "info-img" %> 
				<div class="how-to"> 
					<p>Connect on campus with the students selling the textbook you need and go to class!</p>
				</div>
			</div>
		</div>
	</div>
</div>
