<p id="notice"><%= notice %></p>

<div class="results">
  <h1>Results for <%= params[:title] %></h1>
  <div class="row">
    <div class="col-md-10 col-xs-12">
        <div class="row">
          <% @books.each do |book| %>
            <div class="col-xs-12 col-sm-3">
            <% title = book.title.strip.gsub(/[[:punct:]]/, ' ').split.map(&:capitalize).join(' ') %>
            <%= link_to "/books/list/#{title.gsub(' ', '_')}", method: 'get', class: "no-txt-deco" do %>
              <div class="book-card">
                <div class="card-book-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
       url('<%= cl_image_path book.cover_photo, :default_image => "default_image.png" %>');"></div>
                <div class="card-description">
                  <h2><%= title %></h2>
                  <p><%= book.publisher %></p>
               </div>
              </div>
            <% end %>
            </div>
          <% end %>
        </div>
     </div>
      <div class="sidebar col-md-2 hidden-sm hidden-xs">
          <%= form_tag books_path, method: :get do -%>
  <!-- <div class="row">
    <div class= "field">
      <p>University:</p>
      <%#= select_tag :university, content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(
          @universities, 'university', 'university', params[:university]) %>
    </div>
  </div> -->
  <div class="row">
    <div class= "field">
      <p>Edition:</p>
      <%= select_tag :edition, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
          @books.uniq(&:edition).sort_by(&:edition),
          'edition', 'edition', params[:edition]) %>
    </div>
  </div>
  <div class="row">
    <div class= "field">
      <p>Condition:</p>
      <%= select_tag :condition, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
          @books.uniq(&:condition).sort_by(&:condition),
          'condition', 'condition', params[:condition]) %>
    </div>
  </div>
  <div class="row">
    <div class= "field">
      <p>Subject:</p>
      <%= select_tag :subject, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
          @books.uniq(&:subject).sort_by(&:subject),
          'subject', 'subject', params[:subject]) %>
    </div>
  </div>
  <!-- <div class="row">
    <div class= "field">
      <p>Price:</p>
      <%#= select_tag :price, content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(
      @books.uniq(&:price).sort_by(&:price), 'price', 'price', params[:price]) %>
    </div>
  </div> -->
  <div class="row">
    <div class="field filter">
        <%= hidden_field_tag :title, @title %>
        <%= submit_tag 'Filter' %>
    </div>
  </div>
<% end %>
      </div>
  </div>
</div>
