<div class="results">
	<div class="row">
		<div class="col-md-10 book-details">
			<div class="details text-center">
				<ul>
					<li class="title"><%= @books[0].title.capitalize %></li>
					<li class="other"><%= @books[0].publisher %></li>
					<li class="other">ISBN:<%= @books[0].isbn %></li>
				</ul>
			</div>
		</div>
		<div class="sidebar col-md-2  hidden-sm hidden-xs">
			<%= form_tag(url: "/books/list/#{params}", method: :get) do -%>
				<div class="row">
					<div class= "field">
						<p>Edition:</p>
						<%= select_tag :edition, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
								@books.select(:edition).uniq(&:edition).sort_by(&:edition),
								'edition', 'edition', params[:edition]) %>
					</div>
				</div>
				<div class="row">
					<div class= "field">
						<p>Condition:</p>
						<%= select_tag :condition, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
								@books.select(:condition).uniq(&:condition).sort_by(&:condition),
								'condition', 'condition', params[:condition]) %>
					</div>
				</div>
				<div class="row">
					<div class= "field">
						<p>Subject:</p>
						<%= select_tag :subject, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
								@books.select(:subject).uniq(&:subject).sort_by(&:subject),
								'subject', 'subject', params[:subject]) %>
					</div>
				</div>
				<div class="row">
					<div class="field filter">
						<%= hidden_field_tag :title, @title %>
						<%= submit_tag 'Filter' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<% @books.each do |book| %>
		<div class="col-xs-12 col-sm-6 col-md-2 list-card">
			<div class="list-book-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
			 url('<%= cl_image_path book.cover_photo, :default_image => "default_image.png" %>')";></div>
			<div class="avatar-container">
				<%= image_tag book.user.facebook_picture_url || "100x100.png", class: "avatar avatar-large" %>
			</div>
			<div class="book-info">
				<div class="price">
	  				<p>$<%= book.price %></p>
				</div>
				<div class="subject">
					<p><%= book.subject %></p>
				</div>
			</div>
		  	<div class="book-details">
					<div class="university">
						<p><strong>University:</strong></p>
						<p><%= book.user.university %></p>
					</div>
					<div class="condition">
						<p><strong>Condition:</strong></p>
						<p><%= book.condition %></p>
					</div>
					<div class="buy">
						<%= link_to purchases_path(id: book.id), method: :post do %>
							<div class="btn btn-primary checkout">Add to Cart
							</div>
						<% end %>
					</div>
		  	</div>
		</div>
		<% end %>
	</div>
</div>
