<div class="results">
	<div class="row">
		<div class="col-md-5 book-details">
			<div class="cover">
			<!-- @books[0].cover, {class: "book-cover", id: "cover"} || -->
				<%= image_tag "100x100.png" %>
			</div>
			<div class="details">
				<ul>
					<li class="title"><%= @books[0].title %></li>
					<li class="other"><%= @books[0].publisher %></li>
					<li class="other">ISBN:<%= @books[0].isbn %></li>
				</ul>
			</div>
		</div>
		<div class="col-md-5">
			<h2>Filters:</h2>
		</div>
		<div class="sidebar col-md-2  hidden-sm hidden-xs">
				<%= form_tag(url: "/books/list/#{params}", method: :get) do -%>
	<!-- <div class="row">
		<div class= "field">
			<p>University:</p>
			<%#= select_tag :university, content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(
					@universities, 'university', 'university', params[:university]) %>
		</div>
	</div> -->
	<div class="row">
		<div class= "field">
			<p>Edition:</p>
			<%= select_tag :edition, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
					@books.select(:edition).uniq(&:edition).sort_by(&:edition),
					'edition', 'edition', params[:edition]) %>
		</div>
	</div>
	<div class="row">
		<div class= "field">
			<p>Condition:</p>
			<%= select_tag :condition, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
					@books.select(:condition).uniq(&:condition).sort_by(&:condition),
					'condition', 'condition', params[:condition]) %>
		</div>
	</div>
	<div class="row">
		<div class= "field">
			<p>Subject:</p>
			<%= select_tag :subject, content_tag(:option,'Any',:value=>"")+options_from_collection_for_select(
					@books.select(:subject).uniq(&:subject).sort_by(&:subject),
					'subject', 'subject', params[:subject]) %>
		</div>
	</div>
	<!-- <div class="row">
		<div class= "field">
			<p>Price:</p>
			<%#= select_tag :price, content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(
			@books.uniq(&:price).sort_by(&:price), 'price', 'price', params[:price]) %>
		</div>
	</div> -->
	<div class="row">
		<div class="field filter">
		    <%= hidden_field_tag :title, @title %>
		    <%= submit_tag 'Filter' %>
		</div>
	</div>
<% end %>
		</div>
	</div>
	<div class="row">
		<% @books.each do |book| %>
		<div class="col-md-10 list-card">
			<div class="price">
  				<p>$<%= book.price %></p>
			</div>
			<div class="seller">
				<p><strong>Sold by:</strong></p>
				<%= image_tag book.user.facebook_picture_url || "100x100.png", class: "avatar" %>
			</div>
			<div class="university">
				<p><strong>University:</strong></p>
				<p><%= book.user.university %></p>
			</div>
			<div class="condition">
				<p><strong>Condition:</strong></p>
				<p><%= book.condition %></p>
			</div>
			<div class="description">
				 <p><strong>Description:</strong></p>
				<p><%= book.description.strip %><p>
			</div>
			<div class="buy">
				<div class="btn btn-primary">Buy</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
